:root{
    --cor-de-fundo: #304935;
    --cor-de-letra: #FFFFFF;
    --fonte-titulo: "Viga", sans-serif;
    --fonte-fother: "Raleway", sans-serif;
}

body{
    background-color: var(--cor-de-fundo);
    border: 5em;
    width: auto;
}

/*.cabeçalho*/
.cabeçalho-incial{
    height: 1em;
    width:auto;
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
    margin: 1em;
}

.cabeçalho{
    display: flex;
    text-decoration: none;
    align-items: center;
}

.link-cabeçalho{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
    padding: 5px 8px;
    color: var(--cor-de-letra);
    font-family: var(--fonte-titulo);
    font-size: 20px;
}

.link-cabeçalho:hover{
    color: white;
}

.link-cabeçalho::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 60%;
    height: 1px;
    background: white;
    transform: scaleX(0);
}

.link-cabeçalho:hover::after{
    transform: scaleX(1);
    transition: all 0.4s;
}

.container{
    background-color: #304935;
    border-radius: 14px;
    margin: 14px;
    max-width: 600px;
    width: 100%;
}
.link-cabeçalho:hover{
    color: white;
}

.link-cabeçalho::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 60%;
    height: 1px;
    background: white;
    transform: scaleX(0);
}

.link-cabeçalho:hover::after{
    transform: scaleX(1);
    transition: all 0.4s;
}

.intens-cabeçalho-insta{
    opacity: 0.8;
    
}

.intens-cabeçalho-insta:hover{
    opacity: 1;
    transform: translateY(-5px);
    cursor: pointer;
    transition:0.5s;
}

/*Fim do cabeçalho*/


.titulo{
    font-family:var(--fonte-titulo);
    font-weight: 400;
    font-size: 26px;
    color: var(--cor-de-letra);
}

.container{
    background-color: #FFFFFF;
   border: 2.5px solid white;
   height: 32em;
   width: 40em;
   margin: 5em 10em 5em 28em;
}



.form-content{
    margin-bottom: 8px;
    padding-bottom: 18px;
    position: relative;
}

.form-content label{
    display: inline-block;
    margin: 3px 0 0 0 ;
    margin-bottom: 1px;
    text-align: center;
    padding-left: 20px;
}

.form-content input{
    display: block;
    width: 500px;
    border-radius: 8px;
    padding: 8px;
    border: 2px solid #dfdfdf;
    padding-left: 10px;
}

.form-content a {
    position:absolute ;
    left: 0;
    visibility: hidden;
}

.form-content button {
    background-color: var(--cor-de-fundo);
    color: #FFFFFF;
    border-radius: 14px;
    padding: 10px;
    border: 0;
    font-size: 12px;
    cursor: pointer;
    align-items: center;
    margin: -6px 0 0 -6px;
    align-items: center;
}

.form-content.erro input {
    border-color: #ff3b25;

}

.form-content.erro a {
    color: #ff3b25;
    visibility: visible;

}

.botão-hamburguer{
    display: none;
}

@media screen and (max-width: 940px){
    header{
        width: 430px;
    }
    body{
     max-width: 940px;
    
    }
    
     /*Cabeçalho*/
 
     /*Primeira parte com o video*/
     .t1{
         flex-direction: column;
 
     }
 
 
     .t12{
         display: contents;
         flex-direction: initial;
         height: 42em;
         align-items: center;
         text-align: center;
         flex: 1;
         flex-wrap: wrap;
     }
 
     .intens-cabeçalho-insta{
         display: none;
     }
 
     .hr{
         display: none;
     }
     .container-geral{
         flex-direction: column;
         flex-wrap: wrap;
         
     }
 
     .titulo3{
         flex-wrap: wrap;
     }
 
     .ft-direitos{
         display: block;
     }
     .primeiro-container video {
         width: 50vh;
         height: 50em;
         object-fit: cover;
 
     }
 
     .endress{
         display: none;
     }
 
     .container-endereço{
         display: inline;
         flex-wrap: wrap;
     }
 
     .flex{
         flex-direction: column;
     }
 
     .container-geral{
         display: flex;
         flex-wrap: wrap;
     }
     .ft-seicon{
         padding: 1em ;
         height: 13em;
         display: flex;
         flex-direction: column;
         flex-wrap: wrap;
     }
 
     /*hamburguer*/
 
     .nav .menu-lines{
         display: block;
         position: absolute;
         z-index: 999;
         width: 35px;
         height: 5px;
         left: 430px;
     }
 
 
 
     .nav .menu-lines span{
         display: block;
         width: 35px;
         height: 5px;
         margin-bottom: 10px;
         background-color: #FFFFFF;
         border-radius: 3px;
         transition: all ease 1s;
     }
 
     .botão-hamburguer{
         position: absolute;
         z-index: 1000;
         width: 35px;
         height: 35px;
         left: 430px;
         opacity: 0;
         cursor: pointer;
     }
 
     .nav .botão-hamburguer:checked~ ul{
         /*background-color: red;*/
         color: #000;
     }
 
     .nav .botão-hamburguer:checked ~ .menu-lines span {
         background-color: #232323;
     }
 
     .nav .botão-hamburguer:checked ~ .menu-lines span:nth-child(1){
         transform-origin: 0 100%;
         transform: rotate(45deg) scaleX(1.25);
     }
 
     .nav .botão-hamburguer:checked ~ .menu-lines span:nth-child(2){
         opacity: 0;
     }
 
     .nav .botão-hamburguer:checked ~ .menu-lines span:nth-child(3){
         transform-origin: 0 0%;
         transform: rotate(-45deg) scaleX(1.25);
     }
 
     .nav ul {
         position: absolute;
         flex-direction: column;
         z-index: 998;
         left: 330;
         top: 0;
         width: 300px;
         height: calc(100vh - 100px);
         padding-top: 100px;
         background-color: #FFFFFF;
         color: #232323;
         display: none;
         transition: all ease-out 3s;
     }
 
     .nav .cabeçalho li {
         padding: 10px 30px;
     }
     .nav .cabeçalho a {
         color:#000;
     }
 
     .nav .botão-hamburguer:checked ~  ul{
         display: block;
     }
     /*FIM DO BOTÃO HAMBURGUER*/
     .container{
        background-color: #FFFFFF;
       border: 2.5px solid white;
       height: 32em;
       width: 40em;
       margin: 1em 1em 1em 1em;
       max-width: 90%;
    }
    .form-content button {
        background-color: var(--cor-de-fundo);
        color: #FFFFFF;
        border-radius: 14px;
        padding: 5px;
        border: 0;
        font-size: 12px;
        cursor: pointer;
        align-items: center;
        margin: -6px 0 0 -6px;
        align-items: center;
    }

    .form-content input{
        display: block;
        width: 80%;
        border-radius: 8px;
        padding: 8px;
        border: 2px solid #dfdfdf;
        padding-left: 10px;
    }
    .cabeçalho-incial{
        height: 1em;
        width:100%;
        display: flex;
        justify-content: space-around;
        padding: 1.5em;
        margin: 1em;
    }
 }
